.color-one{
    background: rgba(255,179,69,0.15)!important;
}

.color-two{
    background: rgba(78,206,177,0.15)!important;
}

.color-three{
    background: rgba(255,112,92,0.15)!important;
}

.color-four{
    background: rgba(0,205,233,0.15)!important;
}
.color-yello{
    color: #ffc400!important;
}

